.secrets

.config/raycast

.config/zed/conversations
.config/zed/prompts
.config/zed/themes

.config/github-copilot
.config/jgit
.config/acli
.config/configstore
.config/hunk
.config/cagent

.config/herdr/*
!.config/herdr/config.toml
