@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base, 0.92);
  color: @text;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  padding: 0 4px;
  color: @overlay0;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.focused,
#workspaces button.active {
  color: @mauve;
}

#clock {
  color: @text;
}

#tray,
#network,
#pulseaudio,
#cpu,
#custom-power {
  padding: 0 4px;
}

#tray {
  color: @text;
}

#network {
  color: @text;
}

#pulseaudio {
  color: @text;
}

#pulseaudio.muted {
  color: @red;
}

#cpu {
  color: @text;
}

#custom-power {
  color: @text;
}

#custom-power:hover {
  color: @red;
}

tooltip {
  padding: 2px;
}
