@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base, 0.92);
  color: @text;
}

#workspaces,
#window,
#pulseaudio,
#network,
#clock,
#tray {
  padding: 0 8px;
}

#workspaces button {
  background: transparent;
  color: @overlay0;
  padding: 0 5px;
}

#workspaces button.focused,
#workspaces button.active {
  color: @mauve;
}

#window {
  color: @subtext1;
}

#pulseaudio,
#network,
#clock {
  color: @text;
}

#pulseaudio.source-muted {
  color: @red;
}

#tray {
  color: @text;
}
